{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Directory</title>
        <link href="{% static 'home/styles.css' %}" rel="stylesheet">
        <script>

            function setPadding() {
                const icons = document.querySelectorAll('.icon');
                const nonicons = document.querySelectorAll('.nonicon');
                let navheight = document.querySelector('.navbar').offsetHeight;
                let pad = (navheight - (nonicons[0].offsetHeight - Number(nonicons[0].style.paddingTop.split('px')[0])*2))/2;

                for (icon in [0, 1, 2, 3, 4, 5]) {
                    icons[icon].style.padding = `${pad+9}px`;
                };
                for (nonicon in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]) {
                    nonicons[nonicon].style.padding = `${pad}px 16px`;
                };
                const buttons = document.querySelectorAll('#dropbutton');
                for (button in [0, 1, 2]) {
                    buttons[button].style.padding = `${pad}px 16px ${pad-1}px 16px`;
                };

                const header = document.querySelector('.header');
                const headtext = document.querySelector('#headtext');
                let padd = (header.offsetHeight - (headtext.offsetHeight - Number(headtext.style.paddingTop.split('px')[0])*2))/2;

                headtext.style.padding = `${padd}px`;

                let article = document.querySelector('.article')
                let paddd = (document.querySelector('#news').offsetHeight - (article.offsetHeight - Number(article.style.paddingTop.split('px')[0])*2))/2
                article.style.padding = `${paddd}px 4px`

            };

            addEventListener('DOMContentLoaded', () => {

                if (localStorage.getItem('home_theme') == null || localStorage.getItem('home_theme') == '') {
                    localStorage.setItem('home_theme', 'light')
                }
                document.getElementsByTagName('html')[0].setAttribute('data-theme', localStorage.getItem('home_theme'))

                const tasks = '{{ tasks }}';
                if (tasks.length > 13) {
                    document.querySelector('#todo').style.backgroundImage = 'none';
                };

                const math = document.querySelector('.course.math');
                const stat = document.querySelector('.course.stat');
                math.addEventListener('animationend', () => {
                    math.style.position = 'initial';
                    stat.style.position = 'initial';
                });

                setPadding();
                window.addEventListener('resize', setPadding);

                let articles = document.querySelectorAll('.article');
                let order = 0;
                setInterval(() => {
                    articles.item(order).style.display = 'none';
                    order + 1 == articles.length ? order = 0 : order++;
                    articles.item(order).style.display = 'block';

                    /*const pad = (document.querySelector('#news').offsetHeight - (articles.item(order).offsetHeight - (Number(articles.item(order).style.paddingTop.split('px')[0]) + Number(articles.item(order).style.paddingBottom.split('px')[0]))))/2
                    articles.item(order).style.padding = `${pad}px 4px`*/

                }, 5000);

            });

            function changeTheme(theme) {
                document.getElementsByTagName('html')[0].setAttribute('data-theme', theme);
                localStorage.setItem('home_theme', theme);
            }

        </script>
    </head>
    <body>
        <div class="header">
            <h1 id="headtext">School Directory</h1>
        </div>
        <div class="navbar">
            <a class="icon" id="canvas" title="Canvas" href="https://www.canvas.ucsb.edu/" target="_blank"></a>
            <a class="icon" id="drive" title="Google Drive" href="https://drive.google.com" target="_blank"></a>
            <a class="icon" id="gmail" title="Gmail" href="https://mail.google.com" target="_blank"></a>
            <a class="icon" id="chatgpt" title="ChatGPT" href="https://chat.openai.com" target="_blank"></a>
            <a class="icon" id="libgen" title="Library Genesis" href="https://libgen.is" target="_blank"></a>
            <a class="icon" id="admin" title="Admin" href="http://127.0.0.1:8000/admin" target="_blank"></a>
            <a class="nonicon" href="https://my.sa.ucsb.edu/gold/Home.aspx" target="_blank">UCSB Gold</a>
            <a class="nonicon" href="https://docs.google.com/spreadsheets/d/10SNmra0_IshRH5mh9WWi3y0lzWu1HOvcMf1fgvkVuLs/edit#gid=0" target="_blank">Course Outline</a>
            <div id="dropdown">
                <button id="dropbutton">Major Sheets</button>
                <div id="dropcontent">
                    <a class="nonicon" href="https://www.pstat.ucsb.edu/sites/default/files/sitefiles/Financial%20Mathematics%20and%20Statistics.pdf" target="_blank">FMS B.S.</a>
                    <a class="nonicon" href="https://www.math.ucsb.edu/sites/default/files/sitefiles/undergraduate/Math%20BS%20Major%20Req%20Sheet%2023-24.pdf" target="_blank">Math B.S.</a>
                    <a class="nonicon" href="https://www.math.ucsb.edu/sites/default/files/sitefiles/Applied%20Mathematics%20Major%20%282024%29%20.pdf" target="_blank">App Math B.S.</a>
                    <a class="nonicon" href="https://www.pstat.ucsb.edu/sites/default/files/sitefiles/Statistics%20and%20Data%20Science%2C%20B.S..pdf" target="_blank">Stats / D.S. B.S.</a>
                </div>
            </div>
            <div id="dropdown">
                <button id="dropbutton">Departments</button>
                <div id="dropcontent">
                    <a class="nonicon" href="https://www.math.ucsb.edu/" target="_blank">Mathematics</a>
                    <a class="nonicon" href="https://www.pstat.ucsb.edu/" target="_blank">Statistics</a>
                    <a class="nonicon" href="https://www.econ.ucsb.edu/" target="_blank">Economics</a>
                    <a class="nonicon" href="https://www.cs.ucsb.edu/" target="_blank">Computer Science</a>
                </div>
            </div>
            <div id="dropdown">
                <button id="dropbutton">Databases</button>
                <div id="dropcontent">
                    <a class="nonicon" href="https://link.springer.com/" target="_blank">SpringerLink</a>
                    <a class="nonicon" href="https://jmlr.org/" target="_blank">Journal of Machine Learning</a>
                    <a class="nonicon" href="https://arxiv.org/" target="_blank">ArXiv</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column side" id="left">
                <div id="news">
                    {% for title, blank in titles.items %}
                        <a class="article" href="https://www.ams.org/journals/cams/home-2024.html?active=current" target="_blank">{{ title }}</a>
                    {% empty %}
                        <a class="article">No New Papers</a>
                    {% endfor %}
                </div>
                <div id="todo">
                    <h2>To-Do List
                        {% if tasknum != 0 %}
                            ({{ tasknum }})
                        {% endif %}
                    </h2>
                    {% for day in days %}
                        <p>{{ day }}</p>
                        <ul>
                            {% for task in tasks %}
                                {% if task.due == day %}
                                    <li>{{ task }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% empty %}
                        <ul>
                            <li>No tasks.</li>
                        </ul>
                    {% endfor %}
                </div>
                <div id="textbooks">
                    <h2><a title="Library" href="http://127.0.0.1:8000/textbooks/">Library</a></h2>
                    <div><a target="_blank" href="http://127.0.0.1:8000/textbooks/babyrudin">Principles of Mathematical Analysis</a></div>
                    <div><a target="_blank" href="http://127.0.0.1:8000/textbooks/anintroductiontooptimization">An Introduction to Optimization with Applications to Machine Learning</a></div>
                    <div><a target="_blank" href="http://127.0.0.1:8000/textbooks/introstochasticprocesses">An Introduction to Stochastic Processes with R</a></div>
                    <div><a target="_blank" href="http://127.0.0.1:8000/textbooks/introductiontoprobabilitymodels">An Introduction to Probability Models</a></div>
                    <div><a target="_blank" href="http://127.0.0.1:8000/textbooks/978-3-031-70584-7">Time Series Analysis and its Applications with R</a></div>
                    <div><a target="_blank" href="http://127.0.0.1:8000/textbooks/introductiontotimeseriesandforecasting">Introduction to Time Series and Forecasting</a></div>
                    <div><a target="_blank" href="http://127.0.0.1:8000/textbooks/978-1-84882-891-9">Elementary Differential Geometry</a></div>
                </div>
            </div>

            <div class="column middle">
                <div class="course math">
                    <h2>Mathematics</h2>
                        <aside class="left math">
                            <div><a href="https://detexify.kirelabs.org/classify.html" target="_blank">Detexify</a></div>
                            <div><a href="https://geogebra.org/3d?lang=en" target="_blank">3D Graphing Calculator</a></div>
                            <div><a href="https://flexbooks.ck12.org/cbook/ck-12-calculus-concepts/section/9.5/primary/lesson/some-properties-of-infinite-series-calc/" target="_blank">Infinite Series Reference</a></div>
                            <div><a href="https://proofwiki.org/wiki/Main_Page" target="_blank">Proof Wiki</a></div>
                            <div><a href="https://www.argmin.net/" target="_blank">Argmin Blog</a></div>
                            <div><a href="https://people.eecs.berkeley.edu/~brecht/opt4ml_book/" target="_blank">Optimization for Modern Data Analysis</a></div>
                        </aside>
                        <aside class="right math">
                            <div class="mit">
                                <button>OpenCourseWare</button>
                                <div class="drop mit">
                                    <div><a href="https://ocw.mit.edu/courses/18-06-linear-algebra-spring-2010/" target="_blank">18.06: Linear Algebra</a></div>
                                    <div><a href="https://ocw.mit.edu/courses/18-s096-matrix-calculus-for-machine-learning-and-beyond-january-iap-2023/" target="_blank">18.S096: Matrix Calculus</a></div>
                                    <div><a href="https://ocw.mit.edu/courses/8-012-physics-i-classical-mechanics-fall-2008/" target="_blank">8.012: Classical Mechanics</a></div>
                                </div>
                            </div>
                            <div class="optimization">
                                <button>Optimization</button>
                                <div class="drop optimization">
                                    <div><a href="https://mikl.dk/post/2019-wolfe-conditions/?q=%2F%2F" target="_blank">Wolfe's Conditions</a></div>
                                    <div><a href="https://en.wikipedia.org/wiki/Backtracking_line_search" target="_blank">Backtracking Line Search</a></div>
                                    <div><a href="https://mitliagkas.github.io/ift6085-dl-theory-class/" target="_blank">IFT 6169: Theoretical Principles for Deep Learning</a></div>
                                </div>
                            </div>
                        </aside>
                    </div>

                <div class="course stat">
                    <h2>Statistics</h2>
                        <aside class="left stat">
                            <div><a href="https://www.probabilitycourse.com/chapter6/6_1_3_moment_functions.php" target="_blank">Moment Generating Functions</a></div>
                            <div><a href="https://www.appliedcombinatorics.org/book/app-comb.html" target="_blank">Applied Combinatorics</a></div>
                        </aside>
                        <aside class="right stat">
                            <div class="machinelearning">
                                <button>Machine Learning</button>
                                <div class="drop machinelearning">
                                    <div><a href="https://en.wikipedia.org/wiki/Principal_component_analysis" target="_blank">Principle Component Analysis</a></div>
                                    <div><a href="https://en.wikipedia.org/wiki/Topological_deep_learning" target="_blank">Topological Deep Learning</a></div>
                                </div>
                            </div>
                            <div class="stochastics">
                                <button>Stochastics</button>
                                <div class="drop stochastics">
                                    <div><a href="http://127.0.0.1:8000/textbooks/introductiontostochasticprocesseswithr" target="_blank">Introduction to Stochastic Process with R; Robert P. Dobrow</a></div>
                                    <div><a href="http://127.0.0.1:8000/textbooks/introductiontoprobabilitymodels" target="_blank">Introduction to Probability Models; Sheldon M. Ross</a></div>
                                </div>
                            </div>
                        </aside>
                </div>

                <div class="course cs">
                    <h2>Computer Science</h2>
                        <aside class="left cs">
                            <div><a href="https://github.com/dashboard" target="_blank">Github</a></div>
                            <div><a href="https://tryhackme.com/dashboard" target="_blank">Try Hack Me</a></div>
                            <div><a href="https://app.dataquest.io/learning/path" target="_blank">Dataquest</a></div>
                            <div><a href="https://learn.zybooks.com/library" target="_blank">Zybooks</a></div>
                            <div><a href="https://vim.rtorr.com/" target="_blank">Vim Cheatsheet</a></div>
                            <div><a href="https://xavierholt.github.io/cheatsheets/gdb.html" target="_blank">GDB Cheatsheet</a></div>
                        </aside>
                        <aside class="right cs">
                            <div class="python">
                                <button>Python</button>
                                <div class="drop python">
                                    <div><a href="https://docs.python.org/3.12/index.html" target="_blank">Documentation</a></div>
                                    <div><a href="https://docs.python.org/3.12/tutorial/index.html" target="_blank">Tutorial</a></div>
                                </div>
                            </div>
                            <div class="r">
                                <button>R</button>
                                <div class="drop r">
                                    <div><a href="https://r-coder.com/plot-r/#Plot_line_type" target="_blank">R Plots</a></div>
                                    <div><a href="https://cran.rstudio.com/bin/windows/base/howto-R-4.3.html" target="_blank">RTools43</a></div>
                                    <div><a href="https://moderndive.netlify.app/1-getting-started.html" target="_blank">Data Tutorial</a></div>
                                    <div><a href="https://zsmith27.github.io/rmarkdown_crash-course/lesson-4-yaml-headers.html" target="_blank">RStudio Tutorial</a></div>
                                    <div><a href="https://rstudio.github.io/cheatsheets/data-visualization.pdf" target="_blank">GGPlot Cheat Sheet</a></div>
                                </div>
                            </div>
                            <div class="cs50">
                                <button>CS50</button>
                                <div class="drop cs50">
                                    <div><a href="https://cs50.harvard.edu/python/2022/" target="_blank">Python</a></div>
                                    <div><a href="https://cs50.harvard.edu/web/2020/" target="_blank">Web Programming</a></div>
                                    <div><a href="https://cs50.harvard.edu/ai/2024/" target="_blank">Aritifical Intelligence</a></div>
                                </div>
                            </div>
                            <div class="dsa">
                                <button>DSA</button>
                                <div class="drop dsa">
                                    <div><a href="https://www.coursera.org/specializations/data-structures-algorithms" target="_blank">UCSD Coursera</a></div>
                                    <div><a href="https://leetcode.com/problemset/" target="_blank">LeetCode</a></div>
                                </div>
                            </div>
                        </aside>
                </div>

                <div class="course econ">
                    <h2>Economics</h2>
                            <aside class="left econ">
                                <div><a href="https://docs.google.com/document/d/1ZqHmFT2TYXkBXoQZZ6b2T9UOspXjo__DvQL9GVfOiUo/edit" target="_blank">Microeconomics Notes</a></div>
                                <div><a href="https://docs.google.com/document/d/1zfKXj16v4hgbBhb-dsf0scMAu_bILZRvHHYtZzopUcw/edit" target="_blank">Macroeconomics Notes</a></div>
                                <div><a href="https://docs.google.com/document/d/1hD6xa5sW8S4H2WurngSOJXzXqvJlCKgnd34UqGFWcLc/edit" target="_blank">Micro Theory Notes</a></div>
                                <div><a href="https://art19.com/shows/think-like-an-economist" target="_blank">Think Like an Economist Podcast</a></div>
                            </aside>
                            <aside class="right econ">
                                <div class="econometrics">
                                    <button>Econometrics</button>
                                    <div class="drop econometrics">
                                        <div><a href="http://127.0.0.1:8000/textbooks/introductoryeconometrics/" target="_blank">Econometrics</a></div>
                                    </div>
                                </div>
                                <div class="gameTheory">
                                    <button>Game Theory</button>
                                    <div class="drop gameTheory">
                                        <div><a href="http://127.0.0.1:8000/textbooks/introductoryeconometrics/" target="_blank">Econometrics</a></div>
                                    </div>
                                </div>
                            </aside>
                </div>
            </div>

            <div class="column side" id="right">
                <div id="grades">
                    <h2>Grades</h2>
                    <div><b>Math 118C: {{ math118c }} ({{ math118cletter }})</b>
                        <div>Attendence: 
                            {% if math118catt == 0.0 %}
                                --
                            {% else %}
                                {{ math118catt }}
                            {% endif %}
                        </div>
                        <div>Homework: 
                            {% if math118chome == 0.0 %}
                                --
                            {% else %}
                                {{ math118chome }}
                            {% endif %}
                        </div>
                        <div>Midterms: 
                            {% if math118cmid == 0.0 %}
                                --
                            {% else %}
                                {{ math118cmid }}
                            {% endif %}
                        </div>
                        <div>Final: 
                            {% if math118cfinal == 0.0 %}
                                --
                            {% else %}
                                {{ math118cfinal }}
                            {% endif %}
                        </div>
                    </div>
                    <div><b>Math 132B: {{ math132b }} ({{ math132bletter }})</b>
                        <div>Homework/Quizzes: 
                            {% if math132bhome == 0.0 %}
                                --
                            {% else %}
                                {{ math132bhome }}
                            {% endif %}
                        </div>
                        <div>Midterm: 
                            {% if math132bmid == 0.0 %}
                                --
                            {% else %}
                                {{ math132bmid }}
                            {% endif %}
                        </div>
                        <div>Final Project: 
                            {% if math132bfinal == 0.0 %}
                                --
                            {% else %}
                                {{ math132bfinal }}
                            {% endif %}
                        </div>
                    </div>
                    <div><b>Pstat 160B: {{ pstat160b }} ({{ pstat160bletter }})</b>
                        <div>Homework: 
                            {% if pstat160bhome == 0.0 %}
                                --
                            {% else %}
                                {{ pstat160bhome }}
                            {% endif %}
                        </div>
                        <div>Quizzes: 
                            {% if pstat160bquiz == 0.0 %}
                                --
                            {% else %}
                                {{ pstat160bquiz }}
                            {% endif %}
                        </div>
                        <div>Midterm: 
                            {% if pstat160bmid == 0.0 %}
                                --
                            {% else %}
                                {{ pstat160bmid }}
                            {% endif %}
                        </div>
                        <div>Final Project: 
                            {% if pstat160bfinal == 0.0 %}
                                --
                            {% else %}
                                {{ pstat160bfinal }}
                            {% endif %}
                        </div>
                    </div>
                    <div><b>Pstat 274: {{ pstat274 }} ({{ pstat274letter }})</b>
                        <div>Labs: 
                            {% if pstat274lab == 0.0 %}
                                --
                            {% else %}
                                {{ pstat274lab }}
                            {% endif %}
                        </div>
                        <div>Homework: 
                            {% if pstat274home == 0.0 %}
                                --
                            {% else %}
                                {{ pstat274home }}
                            {% endif %}
                        </div>
                        <div>Quizzes: 
                            {% if pstat274quiz == 0.0 %}
                                --
                            {% else %}
                                {{ pstat274quiz }}
                            {% endif %}
                        </div>
                        <div>Final Project: 
                            {% if pstat274final == 0.0 %}
                                --
                            {% else %}
                                {{ pstat274final }}
                            {% endif %}
                        </div>
                    </div>
                    <div><b>Math 147A: {{ math147a }} ({{ math147aletter }})</b>
                        <div>Homework: 
                            {% if math147ahome == 0.0 %}
                                --
                            {% else %}
                                {{ math147ahome }}
                            {% endif %}
                        </div>
                        <div>Midterm: 
                            {% if math147amid == 0.0 %}
                                --
                            {% else %}
                                {{ math147amid }}
                            {% endif %}
                        </div>
                        <div>Final: 
                            {% if math147afinal == 0.0 %}
                                --
                            {% else %}
                                {{ math147afinal }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer">
            <div class="themes">
                <p class="menu theme">
                    <span><a onclick="changeTheme('light')">Light</a></span>
                    <span><a onclick="changeTheme('dark')">Dark</a></span>
                    <span><a onclick="changeTheme('darker')">Darker</a></span>
                    <span><a onclick="changeTheme('warm')">Warm</a></span>
                    <span><a onclick="changeTheme('cool')">Cool</a></span>
                    <span><a onclick="changeTheme('sunny')">Sunny</a></span>
                </p>
                <button>Themes</button>
            </div>
        </div>
    </body>
</html>