{% extends "textbooks/template.html" %}
{% load static %} 

{% block body %}
        <title>An Introduction to Probability and Statistics</title>
    </head>
    <body>
        <button><a href="http://127.0.0.1:8000/textbooks/">Library</a></button>
        <button><a href="http://127.0.0.1:8000/home/">Home</a></button>
        <h1>An Introduction to Probability and Statistics; Vijay K. Rohatgi</h1>
        <div id="pdf">
            <embed class="pdf-embed" src="{% static 'textbooks/anintrotoprobandstats.pdf' %}" type="application/pdf">
        </div>
{% endblock %}