{% extends "textbooks/template.html" %}
{% load static %} 

{% block body %}
        <title>Data Structures and Other Objects Using C++</title>
    </head>
    <body>
        <button><a href="http://127.0.0.1:8000/textbooks/">Library</a></button>
        <button><a href="http://127.0.0.1:8000/home/">Home</a></button>
        <h1>Data Structures and Other Objects Using C++; Michael Main</h1>
        <div id="pdf">
            <embed class="pdf-embed" src="{% static 'textbooks/datastructuresandotherobjects.pdf' %}" type="application/pdf">
        </div>
{% endblock %}
