{% extends "textbooks/template.html" %}
{% load static %} 

{% block body %}
        <title>Derivative-Free and Blackbox Optimization</title>
    </head>
    <body>
        <button><a href="http://127.0.0.1:8000/textbooks/">Library</a></button>
        <button><a href="http://127.0.0.1:8000/home/">Home</a></button>
        <h1>Derivative-Free and Blackbox Optimization; Charles Audet</h1>
        <div id="pdf">
            <embed class="pdf-embed" src="{% static 'textbooks/derivativefreeandblackboxoptimization.pdf' %}" type="application/pdf">
        </div>
{% endblock %}
