{% extends "textbooks/template.html" %}
{% load static %}

{% block body %}
        <title>Dynamical Systems Theory</title>
    </head>
    <body>
        <button><a href="http://127.0.0.1:8000/textbooks/">Library</a></button>
        <button><a href="http://127.0.0.1:8000/home/">Home</a></button>
        <h1>Dynamical Systems Theory, Bj&#246;rn Birnir</h1>
        <div id="pdf">
            <embed class="pdf-embed" src="{% static 'textbooks/dynamicalsystemstheory.pdf' %}" type="application/pdf">
        </div>
{% endblock %}