{% extends "textbooks/template.html" %}
{% load static %}

{% block body %}
        <title>Methods of the Theory of Functions of Many Complex Variables</title>
    </head>
    <body>
        <button><a href="http://127.0.0.1:8000/textbooks/">Library</a></button>
        <button><a href="http://127.0.0.1:8000/home/">Home</a></button>
        <h1>Methods of the Theory of Functions of Many Complex Variables; Vasiliy Sergeyevich Vladimirov</h1>
        <div id="pdf">
            <embed class="pdf-embed" src="{% static 'textbooks/functionsofmanycomplexvariables.pdf' %}" type="application/pdf">
        </div>
{% endblock %}