{% extends "textbooks/template.html" %}
{% load static %} 

{% block body %}
        <title>Introduction to Data Mining</title>
    </head>
    <body>
        <button><a href="http://127.0.0.1:8000/textbooks/">Library</a></button>
        <button><a href="http://127.0.0.1:8000/home/">Home</a></button>
        <h1>Introduction to Data Mining, Pang-Ning Tan</h1>
        <div id="pdf">
            <embed class="pdf-embed" src="{% static 'textbooks/introductiontodatamining.pdf' %}" type="application/pdf">
        </div>
{% endblock %}