{% extends "textbooks/template.html" %}
{% load static %} 

{% block body %}
        <title>Introductory Physics 2</title>
    </head>
    <body>
        <button><a href="http://127.0.0.1:8000/textbooks/">Library</a></button>
        <button><a href="http://127.0.0.1:8000/home/">Home</a></button>
        <h1>Inroductory Physics 2; Robert G. Brown</h1>
        <div id="pdf">
            <embed class="pdf-embed" src="{% static 'textbooks/introductoryphysics2.pdf' %}#zoom=87" type="application/pdf">
        </div>
{% endblock %}
