{% extends "textbooks/template.html" %}
{% load static %} 

{% block body %}
        <title>Large-Scale Convex Optimization</title>
    </head>
    <body>
        <button><a href="http://127.0.0.1:8000/textbooks/">Library</a></button>
        <button><a href="http://127.0.0.1:8000/home/">Home</a></button>
        <h1>Large-Scale Convex Optimization; Ernest K. Ryu, Wotao Yin</h1>
        <div id="pdf">
            <embed class="pdf-embed" src="{% static 'textbooks/largescaleconvexoptimization.pdf' %}#zoom=90" type="application/pdf">
        </div>
{% endblock %}
