{% extends "textbooks/template.html" %}
{% load static %} 

{% block body %}
        <title>Machine Learning: The Art and Science of Algorithms that Make Sense of Data</title>
    </head>
    <body>
        <button><a href="http://127.0.0.1:8000/textbooks/">Library</a></button>
        <button><a href="http://127.0.0.1:8000/home/">Home</a></button>
        <h1>Machine Learning: The Art and Science of Algorithms that Make Sense of Data; Peter Flach</h1>
        <div id="pdf">
            <embed class="pdf-embed" src="{% static 'textbooks/machinelearningtheartandscienceofalgorithms.pdf' %}" type="application/pdf">
        </div>
{% endblock %}
