{% extends "textbooks/template.html" %}
{% load static %} 

{% block body %}
        <title>Measure, Integration, and Real Analysis</title>
    </head>
    <body>
        <button><a href="http://127.0.0.1:8000/textbooks/">Library</a></button>
        <button><a href="http://127.0.0.1:8000/home/">Home</a></button>
        <h1>Measure, Integration, and Real Analysis; Sheldon Axler</h1>
        <div id="pdf">
            <embed class="pdf-embed" src="{% static 'textbooks/measureintegrationandrealanalysis.pdf' %}#zoom=110" type="application/pdf">
        </div>
{% endblock %}
