{% extends "textbooks/template.html" %}
{% load static %} 

{% block body %}
        <title>Operating Systems: Three Easy Pieces</title>
    </head>
    <body>
        <button><a href="http://127.0.0.1:8000/textbooks/">Library</a></button>
        <button><a href="http://127.0.0.1:8000/home/">Home</a></button>
        <h1>Operating Systems: Three Easy Pieces; Remzi H. Arpaci-Dusseau</h1>
        <div id="pdf">
            <embed class="pdf-embed" src="{% static 'textbooks/operatingsystems.pdf' %}" type="application/pdf">
        </div>
{% endblock %}
