{% extends "textbooks/template.html" %}
{% load static %} 

{% block body %}
        <title>Partial Differential Equations</title>
    </head>
    <body>
        <button><a href="http://127.0.0.1:8000/textbooks/">Library</a></button>
        <button><a href="http://127.0.0.1:8000/home/">Home</a></button>
    <h1>Partial Differential Equations, Viktor Grigoryan</h1>
    <div id="pdf">
        <embed class="pdf-embed" src="{% static 'textbooks/partialdifferentialequations.pdf' %}" type="application/pdf">
    </div>
{% endblock %}