{% extends "textbooks/template.html" %}
{% load static %} 

{% block body %}
        <title>Practical Mathematical Optimization</title>
    </head>
    <body>
        <button><a href="http://127.0.0.1:8000/textbooks/">Library</a></button>
        <button><a href="http://127.0.0.1:8000/home/">Home</a></button>
        <h1>Practical Mathematical Optimization; Jan A. Snyman</h1>
        <div id="pdf">
            <embed class="pdf-embed" src="{% static 'textbooks/practicalmathematicaloptimization.pdf' %}" type="application/pdf">
        </div>
{% endblock %}
