{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{% static 'textbooks/textbookstyles.css' %}" rel="stylesheet">
        <title>Library</title>
        <script>

            document.addEventListener('keyup', () => {

                const textbooks = document.querySelectorAll('div a');
                const titlesearch = document.querySelector('#title').value.toLowerCase().split(' ');
                const authorsearch = document.querySelector('#author').value.toLowerCase().split(' ');

                if (titlesearch != '') {
                    for (a in textbooks) {
                        for (word in titlesearch) {
                            if (textbooks[a].innerHTML.split(';')[0].toLowerCase().includes(titlesearch[word])) {
                                textbooks[a].style.display = 'initial';
                            } else {
                                textbooks[a].style.display = 'none';
                                break
                            };
                        };
                    };
                } else if (authorsearch != '') {
                    for (a in textbooks) {
                        for (word in authorsearch) {
                            if (textbooks[a].innerHTML.split('; ')[1].toLowerCase().includes(authorsearch[word])) {
                                textbooks[a].style.display = 'initial';
                            } else {
                                textbooks[a].style.display = 'none';
                                break
                            };
                        };
                    };
                } else {
                    for (a in textbooks) {
                        textbooks[a].style.display = 'initial';
                    };
                };
            });

            var themes = ["cherryblossom", "rainforest", "library", "rainy"];
            var html = document.getElementsByTagName('html')[0]
            document.addEventListener('DOMContentLoaded', ()=> {
                if ((localStorage.getItem("library_theme") == null) || (localStorage.getItem("library_theme") == '')) {
                    localStorage.setItem('library_theme', 0);
                }
                html.setAttribute('data-theme', themes[parseInt(localStorage.getItem("library_theme"))]);
            })

            function changeTheme() {
                var index = parseInt(localStorage.getItem('library_theme'));
                if (index >= themes.length-1) {
                    index = 0;
                } else {
                    index = index + 1;
                }
                localStorage.setItem('library_theme', index);
                html.setAttribute('data-theme', themes[index]);
            }

        </script>
    </head>
    <body>
        <button><a href="http://127.0.0.1:8000/home/">Home</a></button>
        <button onclick="changeTheme()">Theme</button>
        <div>
            <h1>Library</h1>
        </div>
        <div id="row">
            <div id="search">
                <input placeholder="By Title" class="textinput" id="title">
                <input placeholder="By Author" class="textinput" id="author">
                <aside id="searchleft">
                    <div class="typebox">
                        <input type="checkbox">Books
                        <span class="checkmark"></span>
                    </div>
                    <div class="typebox">
                        <input type="checkbox">Papers
                        <span class="checkmark"></span>
                    </div>
                    <div class="typebox">
                        <input type="checkbox">Lecture Notes
                        <span class="checkmark"></span>
                    </div>
                </aside>
                <aside class="searchright">

                </aside>
            </div>
            <div id="list">
                {% for book in books %}
                    <a href="http://127.0.0.1:8000/textbooks/{{book.url}}" title="{{ book.title }}">
                        <div class="title">{{ book.title }}</div>
                        <div class="author">{{ book.author }}</div>
                        <div class="type">{{ book.type }}</div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <small>*Library contains {{ books|length }} supplemental materials.</small>
    </body>
</html>