{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{% static 'textbooks/textbookstyles.css' %}" rel="stylesheet">
        <title>Library</title>
        <script>

            document.addEventListener('DOMContentLoaded', ()=> {
                if (localStorage.getItem('library_theme') == null || localStorage.getItem('library_theme') == '') {
                    localStorage.setItem('library_theme', 'cherryblossom');
                }
                document.getElementsByTagName('html')[0].setAttribute('data-theme', localStorage.getItem('library_theme'));
            })

            document.addEventListener('keyup', () => {

                const textbooks = document.querySelectorAll('div a');
                const titlesearch = document.querySelector('#title').value.toLowerCase().split(' ');
                const authorsearch = document.querySelector('#author').value.toLowerCase().split(' ');

                if (titlesearch != '') {
                    for (a in textbooks) {
                        for (word in titlesearch) {
                            if (textbooks[a].innerHTML.split(';')[0].toLowerCase().includes(titlesearch[word])) {
                                textbooks[a].style.display = 'initial';
                            } else {
                                textbooks[a].style.display = 'none';
                                break
                            };
                        };
                    };
                } else if (authorsearch != '') {
                    for (a in textbooks) {
                        for (word in authorsearch) {
                            if (textbooks[a].innerHTML.split('; ')[1].toLowerCase().includes(authorsearch[word])) {
                                textbooks[a].style.display = 'initial';
                            } else {
                                textbooks[a].style.display = 'none';
                                break
                            };
                        };
                    };
                } else {
                    for (a in textbooks) {
                        textbooks[a].style.display = 'initial';
                    };
                };
            });

        </script>
    </head>
    <body>
        <button><a href="http://127.0.0.1:8000/home/">Home</a></button>
        <div>
            <h1>Library</h1>
        </div>
        <div id="search">
            <input placeholder="By Title" id="title">
            <input placeholder="By Author" id="author">
        </div>
        <div id="list">
            {% for book in books %}
                <div><a href="http://127.0.0.1:8000/textbooks/{{book.url}}" title="{{ book.title }}">{{book.title}}; {{book.author}}</a></div>
            {% endfor %}
        </div>
        <small>*Library contains {{ books|length }} supplemental materials.</small>
    </body>
</html>