{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{% static 'textbooks/textbookstyles.css' %}" rel="stylesheet">
        <title>Library</title>
        <script>

            document.addEventListener('keyup', () => {

                const textbooks = document.querySelectorAll('div a');
                const titlesearch = document.querySelector('#title').value.toLowerCase().split(' ');
                const authorsearch = document.querySelector('#author').value.toLowerCase().split(' ');

                if (titlesearch != '') {
                    for (a in textbooks) {
                        for (word in titlesearch) {
                            if (textbooks[a].innerHTML.split(';')[0].toLowerCase().includes(titlesearch[word])) {
                                textbooks[a].style.display = 'initial';
                            } else {
                                textbooks[a].style.display = 'none';
                                break
                            };
                        };
                    };
                } else if (authorsearch != '') {
                    for (a in textbooks) {
                        for (word in authorsearch) {
                            if (textbooks[a].innerHTML.split('; ')[1].toLowerCase().includes(authorsearch[word])) {
                                textbooks[a].style.display = 'initial';
                            } else {
                                textbooks[a].style.display = 'none';
                                break
                            };
                        };
                    };
                } else {
                    for (a in textbooks) {
                        textbooks[a].style.display = 'initial';
                    };
                };
            });

        </script>
    </head>
    <body>
        <button><a href="http://127.0.0.1:8000/home/">Home</a></button>
        <div>
            <h1>Library</h1>
        </div>
        <div id="search">
            <input placeholder="By Title" id="title">
            <input placeholder="By Author" id="author">
        </div>
        <div id="list">
            <div><a href="http://127.0.0.1:8000/textbooks/linearalgebradoneright/">Linear Algebra Done Right; Sheldon Axler</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/elementaryanalysis">Elementary Analysis; Kenneth A. Ross</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/bookofproof">Book of Proof; Richard Hammock</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/dynamicalsystemstheory">Dynamical Systems Theory; Bj&#246;rn Birnir</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/linearalgebradonewrong">Linear Algebra Done Wrong; Sergei Treil</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/mathematicalstatisticsandapplications">Mathematical Statistics and Applications; Wackerly, Mendenhall, Scheaffer</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/realanalysis">Real Analysis; Jay Cummings</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/partialdifferentialequations">Partial Differential Equations; Viktor Grigoryan</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/linearalgebraanditsapplications">Linear Algebra and its Applications; Lay, Lay, McDonald</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/introductiontostatisticallearning">Introduction to Statistical Learning; James, Witten, Hastie</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/introductiontomathematicalstructuresandproofs">Introduction to Mathematical Structures and Proofs; Larry J. Gerstein</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/abookofabstractalgebra">A Book of Abstract Algebra; Charles C. Pinter</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/handsonmachinelearning">Hands-On Machine Learning; Aur&eacute;lien G&eacute;ron</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/numericalanalysis">Numerical Analysis; Burden, Faires, Burden</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/diffeqsdynsyslinalg">Differential Equations, Dynamical Systems, and Linear Algebra; Hirsch</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/appliedlinearregression">Applied Linear Regression; Sanford Weisberg</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/linearmodelswithr">Linear Models With R; Julian J. Faraway</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/introductiontostochasticprocesseswithr">Introduction to Stochastic Processes With R; Robert P. Dobrow</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/introductiontotimeseriesandforecasting">Introduction to Time Series and Forecasting; Brockwell, Davis</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/timeseriesanalysisanditsapplicationswithr">Time Series Analysis and its Applications With R; Shumway, Stoffer</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/derivativesmarkets">Derivatives Markets; Robert L. McDonald</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/introductiontoprobabilitymodels">Introduction to Probability Models; Sheldon M. Ross</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/lossmodelsfromdatatodecisions">Loss Models From Data to Decisions; Klugman, Panjer, Willmot</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/introductiontodatamining">Introduction to Data Mining; Pang-Ning Tan</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/mathematicsofinvestmentandcredit">Mathematics of Investment and Credit; Samuel A. Broverman</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/mathematicalinteresttheory">Mathematical Interest Theory; Vaaler, Harper, Daniel</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/stigumsmoneymarket">The Money Market; Marcia Stigum</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/optionsmarkets">Options Markets; Cox, Rubinstein</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/matrixanalysis">Matrix Analysis; Horn, Johnson</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/calculus">Calculus: Early Transcendentals; Stewart, Clegg, Watson</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/intermediatemicroeconomics">Intermediate Microeconomics with Calculus; Hal R. Varian</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/introductiontoprobability">Introduction to Probability; David F. Anderson</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/introductoryeconometrics">Introductory Econometrics: A Modern Approach; Jeffery M. Wooldridge</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/introtoeconometrics">Introduction to Econometrics; James H. Stock</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/masteringmetrics">Mastering Metrics; Joshua D. Angrist</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/anintroductiontomeasuretheory">An Introduction to Measure Theory; Terence Tao</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/designandanalysisofexperiments">Design and Analysis of Experiments; Douglas C. Montgomery</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/advancedcalculus">Advanced Calculus; Avner Friedman</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/advancedcalculusofseveralvariables">Advanced Calculus of Several Variables; C. H. Edwards</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/divgradcurlandallthat">Div, Grad, Curl, and All That; H. M. Schey</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/functionsofmanycomplexvariables">Methods of the Theory of Functions of Many Complex Variables; Vasiliy Sergeyevich Vladimirov</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/vectorcalculuslinearalgebraanddifferentialforms">Vector Calculus, Linear Algebra, and Differential Forms; John Hubbard</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/introductoryrealanalysis">Introductory Real Analysis; N. A. Kolmogorov</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/contempabstractalgebra">Contemporary Abstract Algebra; Joseph A. Gallian</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/anintrotoprobandstats">An Introduction to Probability and Statistics; Vijay K. Rohatgi</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/extendingthelinearmodel">Extending the Linear Model with R; Julian J. Faraway</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/problemsolvingwithalgorithmsanddatastructures">Problem Solving with Algorithms and Data Structures with Python; Brad Miller</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/hyperbolicgeometry">Hyperbolic Geometry; James W. Anderson</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/principlesofmathematicalanalysis">Principles of Mathematical Analysis; Walter Rudin</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/introductoryphysics1">Introductory Physics 1; Robert G. Brown</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/introductoryphysics2">Introductory Physics 2; Robert G. Brown</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/fundamentalsofphysics">Fundamentals of Physics; David Halliday</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/intrototopology">Introduction to Topology; Bert Mendelson</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/measureintegrationandrealanalysis">Measure, Integration, and Real Analysis; Sheldon Axler</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/realandcomplexanalysis">Real and Complex Analysis; Walter Rudin</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/largescaleconvexoptimization">Large-Scale Convex Optimization; Ernest K. Ryu, Wotao Yin</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/problemsolvingwithcpp">Problem Solving with C++; Walter Savitch</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/roydenanalysis">Real Analysis; Halsey Royden</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/datastructuresandotherobjects">Data Structures and Other Objects Using C++; Michael Main</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/operatingsystems">Operating Systems: Three Easy Pieces; Remzi H. Arpaci-Dusseau</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/effectivemoderncpp">Effective Modern C++; Scott Meyers</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/datastructuresandalgorithmanalysis">Data Structures and Algorithm Analysis in C++; Mark Weiss</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/algorithms">Algorithms; Sanjoy Dasgupta</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/artificialintelligenceamodernapproach">Artificial Intelligence: A Modern Approach; Stuart Russel</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/machinelearningtheartandscienceofalgorithms">Machine Learning: The Art and Science of Algorithms that Make Sense of Data; Peter Flach</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/proofsandrefutations">Proofs and Refutations; Imre Lakatos</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/theartandcraftofproblemsolving">The Art and Craft of Problem Solving; Paul Zeitz</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/anintroductiontooptimization">An Introduction to Optimization with Applications to Machine Learning; Edwin K.P. Chong</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/numbertheoryrevealed">Number Theory Revealed: A Masterclass; Andrew Granville</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/anintroductiontothetheoryofnumbers">An Introduction to the Theory of Numbers; G.H. Hardy</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/progit">Pro Git; Scott Chacon</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/theoryofneuralcomputation">Introduction to the Theory of Neural Computation; John Hertz</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/complexanalysis">Complex Analysis; Theodore W. Gamelin</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/newtontypemethodsforoptimizationandvariationalproblems">Newton-Type Methods for Optimization and Variational Problems; Alexey F. Izmailov</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/fundamentalsofconvexanalysisandoptimization">Fundamentals of Convex Analysis and Optimization; Marco A. Lopez</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/derivativefreeandblackboxoptimization">Derivative-Free and Blackbox Optimization; Charles Audet</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/practicalmathematicaloptimization">Practical Mathematical Optimization; Jan A. Snyman</a></div>
            <div><a href="http://127.0.0.1:8000/textbooks/anoptimizationprimer">An Optimization Primer; Johannes O. Royset</a></div>
        </div>
        <small>*Library contains {{ books }} supplemental materials.</small>
    </body>
</html>
