{% extends "textbooks/template.html" %}
{% load static %} 

{% block body %}
        <title>The Art and Craft of Problem Solving</title>
    </head>
    <body>
        <button><a href="http://127.0.0.1:8000/textbooks/">Library</a></button>
        <button><a href="http://127.0.0.1:8000/home/">Home</a></button>
        <h1>The Art and Craft of problem Solving; Paul Zeitz</h1>
        <div id="pdf">
            <embed class="pdf-embed" src="{% static 'textbooks/theartandcraftofproblemsolving.pdf' %}" type="application/pdf">
        </div>
{% endblock %}
