html[data-theme='cherryblossom'] {
    --background-image: url('images/cherryblossom.jpg');
    --title-color: #f2f2f2;
    --title-shadow: 
        -1px -1px 10px #000,
        1px -1px 0px #000,
        -1px 1px 10px #000,
        1px 1px 0px #000;
    --box-color: #fff9f9;
    --box-color-hover: #c3bebe;
    --tag-color: black;
}
html[data-theme='rainforest'] {
    --background-image: url('images/rainforest.jpg');
    --title-color: #f2f2f2;
    --title-shadow: 
        -1px -1px 10px #000,
        1px -1px 0px #000,
        -1px 1px 10px #000,
        1px 1px 0px #000;
    --box-color: #f5fbf8;
    --box-color-hover: #bac1bd;
    --tag-color: white;
}
html[data-theme='library'] {
    --background-image: url('images/library.jpg');
    --title-color: #F2F2F2;
    --title-shadow: 
        -1px -1px 10px #000,
        1px -1px 0px #000,
        -1px 1px 10px #000,
        1px 1px 0px #000;
    --box-color: #d1cec5;
    --box-color-hover: #95938f;
    --tag-color: black;
}
html[data-theme='rainy'] {
    --background-image: url('images/rainy.jpg');
    --title-color: #F2F2F2;
    --title-shadow: 
        -1px -1px 10px #000,
        1px -1px 0px #000,
        -1px 1px 10px #000,
        1px 1px 0px #000;
    --box-color: #a1ada3;
    --box-color-hover: #848d85;
    --tag-color: white;
}

body {
    background-color: #F2F2F2;
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    float: right;
    margin-left: 5px;
}

h1 {
    color: var(--title-color);
    padding-top: 60px;
    text-align: center;
    font-size: 150px;
    margin-top: 15px;
    text-shadow: var(--title-shadow);
}

a {
    text-decoration: none;
    color: black;
    padding: 2px 10px;
}

#row div {
    float: left;
}

#search {
    background-color: var(--box-color);
    width: 30%;
    height: 32vh;
    margin: 0 30px;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 5px;
    overflow: hidden;
}

#searchleft {
    margin: 25px 0px 0px 10px;
    width: 25%
}
.textinput {
    width: 75%;
    height: 3.5vh;
    margin: 25px 12.5% 0px 12.5%;
}
.typebox {
    width: 100%;
    margin: 5px 0px;
}

#list {
    background-color: var(--box-color);
    width: 60%;
    height: 45vh;
    margin: 0 30px;
    border-style: solid;
    border-width: 2px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#list div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
}
.title {
    width: 41%;
}
.author {
    width: 40%;
    border-left-style: solid;
    border-width: 3px;
    border-color: #c6c6c6;
}
.type {
    width: 12.5%;
    border-left-style: solid;
    border-width: 3px;
    border-color: #c6c6c6;
}
a:hover div {
    background-color: var(--box-color-hover);
    border-color: #333;
}

small {
    color: var(--tag-color);
    float: right;
    margin-top: 40px;
    margin-right: 10px;
}
